<ion-header>
    <ion-fab>
        <ion-fab-button color="danger">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button (click)="goto('usuarios')" color="warning">
                <ion-icon name="people"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('gasolina')" color="warning">
                <ion-icon name="car"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('login')" color="warning">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">Histórico Preço Combustível</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">

    <ion-grid>
        <ion-row>
            <ion-col>

            </ion-col>
            <ion-col class="align-self-center" size-xs="12" size-sm="9" size-md="7" size-lg="5">
                <ion-item color="warning">
                    <ion-label>Período: </ion-label>
                    <ion-range min="0" max="12" step="1" snaps="true" ticks="true" color="danger"></ion-range>
                </ion-item>
            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
        <ion-row padding>
            <ion-col>

            </ion-col>
            <ion-col class="align-self-center" size-xs="12" size-sm="9" size-md="9" size-lg="9">
                <div class="card-body">
                    <div class="chart-area" heigth="100px"><canvas id="chartBig"> </canvas></div>
                </div>
            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>






</ion-content>