<ion-content>
    <ion-list>
        <ion-item (click)="goto('home')">
            Home
        </ion-item>
        <ion-item (click)="goto('usuarios')">
            Usuários
        </ion-item>
        <ion-item (click)="goto('gasolina')">
            Gasolina
        </ion-item>
        <ion-item (click)="goto('login')">
            Logout
        </ion-item>
    </ion-list>
</ion-content>