<ion-header>
    <ion-fab>
        <ion-fab-button color="danger">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button (click)="goto('usuarios')" color="warning">
                <ion-icon name="people"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('gasolina')" color="warning">
                <ion-icon name="car"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('login')" color="warning">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">Fuel Analyzer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="align-self-center" size-md="6" size-lg="5" size-xs="12">

                <!-- Sckeleton -->
                <ion-list *ngIf="users == undefined">
                    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1]">

                        <ion-label>
                            <ion-skeleton-text animated width="40%"></ion-skeleton-text>
                            <ion-skeleton-text animated width="30%"></ion-skeleton-text>
                            <ion-skeleton-text animated width="80%"></ion-skeleton-text>
                        </ion-label>

                    </ion-item>
                </ion-list>



                <!-- Lista de usuários -->
                <ion-list *ngIf="users != undefined">
                    <ion-item-sliding *ngFor="let user of users">
                        <ion-item>
                            <ion-label>
                                <h2> <b>Nome: </b>{{ user.name }}</h2>
                                <ion-label color='dark'><b>E-mail: </b>{{ user.email }}</ion-label>
                            </ion-label>
                        </ion-item>

                        <ion-item-options side="start">
                            <ion-item-option color="danger" (click)="removeUser(user.nome)">
                                <ion-icon title="Deletar usuario." name="trash" size="large"></ion-icon>
                            </ion-item-option>
                            <ion-item-option color="primary" (click)="editUser(user)">
                                <ion-icon title="Editar informações do usuário." name="create" size="large"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>

                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>







</ion-content>