<ion-header>
    <ion-fab>
        <ion-fab-button color="danger">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list>
            <ion-fab-button (click)="goto('usuarios')" color="warning">
                <ion-icon name="people"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('gasolina')" color="warning">
                <ion-icon name="car"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="goto('login')" color="warning">
                <ion-icon name="exit"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-toolbar color="warning">
        <ion-title class="ion-text-center">Fuel Analyzer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="align-self-center" size-xs="13" size-sm="9" size-md="7" size-lg="5">

                <ion-card (click)="goto('usuarios')" class="center">

                    <ion-card-header>
                        <ion-card-title>Usuários</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Clique aqui para gerenciar os usuários da plataforma.
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col class="align-self-center" size-xs="13" size-sm="9" size-md="7" size-lg="5">

                <ion-card (click)="goto('gasolina')" class="center">
                    <ion-card-header>
                        <ion-card-title>Histórico de Combustível</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Clique aqui para acessar os relatórios de combustível.
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>



</ion-content>