.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    //width: 50%;
}

.footer .copyright {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    float: none !important;
    width: 100%;
}

.navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    border-radius: 0;
}