<ion-content color="danger" padding>

    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="align-self-center" size-xs="13" size-sm="9" size-md="7" size-lg="5">

                <ion-card class="center">
                    <img src="https://minaspetro.com.br/blog/wp-content/uploads/2016/10/fiscalizacao-ambiental-no-posto-de-combustivel-voce-esta-preparado-770x400.jpeg">

                    <ion-card-content>
                        <form #form="ngForm" (ngSubmit)="login(form)">
                            <ion-grid>
                                <ion-row justify-content-center>
                                    <ion-col align-self-center text-center>
                                        <div text-center>
                                            <h3></h3>
                                        </div>
                                        <div padding>
                                            <ion-item *ngIf="logintype == 'register'">
                                                <ion-input name="nome" type="text" placeholder="Seu nome" ngModel required></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
                                            </ion-item>
                                            <ion-item>
                                                <ion-input name="password" type="password" placeholder="Senha" ngModel required></ion-input>
                                            </ion-item>
                                            <ion-item *ngIf="logintype == 'register'">
                                                <ion-input name="password" type="password" placeholder="Confirme a senha" ngModel required></ion-input>
                                            </ion-item>
                                        </div>
                                        <div padding>
                                            <ion-button *ngIf="logintype == 'login'" size="large" type="submit" [disabled]="form.invalid" color="danger" expand="block">Login</ion-button>
                                            <ion-button *ngIf="logintype == 'register'" size="large" type="submit" [disabled]="form.invalid" color="danger" expand="block">Cadastrar</ion-button>

                                        </div>

                                        <ion-label *ngIf="logintype == 'login'" class="text-center">Não possui uma conta? <a (click)="changeLoginType('register')">Clique aqui</a>.</ion-label>
                                        <ion-label *ngIf="logintype == 'register'" class="text-center">Eu tenho uma conta! <a (click)="changeLoginType('login')">Voltar para login</a>.</ion-label>

                                    </ion-col>
                                </ion-row>

                            </ion-grid>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>

    </ion-grid>


    <footer class="footer footer-transparent">
        <div class="container">
            <p class="copyright ">
                &copy; {{test | date: 'yyyy'}} | André Vicente</p>
        </div>
    </footer>

</ion-content>